[submodule "bee"]
	path = bee
	url = https://github.com/DokiPowered/BusyBox-ETC-Example.git
[submodule "BusyBox"]
	path = busybox
	url = https://github.com/ypo-GitHub/busybox.git
[submodule "opm"]
	path = opm
	url = https://github.com/DokiPowered/opm.git
